@inherits Fluxor.Blazor.Web.Components.FluxorComponent

@page "/register"

@using BlazorConduit.Client.Models.Authentication.Dtos
@using BlazorConduit.Client.Models.Authentication.Requests
@using BlazorConduit.Client.Models.Authentication.Validation
@using BlazorConduit.Client.Services.Contracts
@using BlazorConduit.Client.Store.State
@using Fluxor

@inject IState<UserState> State
@inject IStateFacade StateFacade

<div class="auth-page">
    <div class="container page">
        <div class="row">

            <div class="col-md-6 offset-md-3 col-xs-12">
                <h1 class="text-xs-center">Sign up</h1>
                <p class="text-xs-center">
                    <a href="/login">Have an account?</a>
                </p>

                <CustomValidationForm TState="UserState" State="State" ValidationObject="validationModel" ButtonText="Sign up" SubmitClickedCallback="OnSignUpClicked">
                    <fieldset class="form-group">
                        <InputText id='register-username-field' class="form-control form-control-lg" placeholder="Your Name" type="text" @bind-Value="validationModel.Username" />
                    </fieldset>
                    <fieldset class="form-group">
                        <InputText id='register-email-field' class="form-control form-control-lg" placeholder="Email" type="email" @bind-Value="validationModel.Email" />
                    </fieldset>
                    <fieldset class="form-group">
                        <InputText id='register-password-field' class="form-control form-control-lg" placeholder="Password" type="password" @bind-Value="validationModel.Password" />
                    </fieldset>
                </CustomValidationForm>
            </div>

        </div>
    </div>
</div>

@code {

    private RegisterUserValidationModel validationModel = new RegisterUserValidationModel();

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }

    private void OnSignUpClicked(bool isValid)
    {
        if (isValid)
        {
            // The validation model ensures the strings are not null/empty, let the compiler know with the bang (!) operator
            var userRegistrationDto = new RegisterUserDto(validationModel.Username!, validationModel.Email!, validationModel.Password!);
            var userRegistrationRequest = new RegisterUserRequest(userRegistrationDto);

            StateFacade.RegisterUser(userRegistrationRequest);
        }
    }

}
