@inherits Fluxor.Blazor.Web.Components.FluxorComponent

@using BlazorConduit.Store
@using Fluxor

@inject IState<AppState> State

<nav class="navbar navbar-light">
    <div class="container">
        <a class="navbar-brand" href="/#/">conduit</a>
        <ul class="nav navbar-nav pull-xs-right">
            <li class="nav-item">
                <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                    Home
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="/article/create-post">
                    New Post
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="/settings">
                    Settings
                </NavLink>
            </li>
            <li class="nav-item">
                @if (State.Value.IsAuthenticated)
                {
                    <NavLink class="nav-link" href="/profile">
                        @State.Value.CurrentUser!.Email
                    </NavLink>
                }
                else
                {
                    <NavLink class="nav-link" href="/register">
                        Sign Up
                    </NavLink>
                }
            </li>
        </ul>
    </div>
</nav>

@code {        

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }

}