@inherits Fluxor.Blazor.Web.Components.FluxorLayout

<NavMenu />

<section id="main-body">
    @Body
</section>

<Footer />

@code {        

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }

}
